@font-face {
  font-family: 'NCLRobowapix-Regular';
  src: url('./assets/fonts/NCLRobowapix-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ABODIN-Regular';
  src: url('./assets/fonts/ABODIN-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'EjusackBold-Bold';
  src: url('./assets/fonts/EjusackBold-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282c34;
}

.App {
  text-align: center;
  font-family: 'NCLRobowapix-Regular', sans-serif;
  background-color: #282c34;
  color: white;
  height: 100vh; /* Full viewport height */
}

.App-main {
  background-color: #282c34;
  width: 100vw;
  height: 80vh; /* Set height to 100% of the viewport */
  display: flex; /* Enables Flexbox */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  margin: 0 auto; /* Optional: Centers horizontally if there's extra space */
  text-align: center; /* Centers text inside the element */
  font-size: calc(5px + 2vmin);
  color: white;
  font-family: 'ABODIN-Regular', sans-serif;
}
