body {
  background-image: url('./assets/work-bg.png');
  background-size: cover; /* Ensures the image covers the full area */
  background-repeat: repeat-y;
  background-position: center top;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'NCLRobowapix-Regular';
  src: url('./assets/fonts/NCLRobowapix-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.App-header {
  background-color: #282c34;
  background-image: url('./assets/16x9_Make_a_Cover_Art_for_digital_music1.png');
  background-size: cover; /* Ensures the image covers the full area */
  background-repeat: repeat-y;
  background-position: center top;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
  font-family: 'NCLRobowapix-Regular', sans-serif;
}

.App-main {
  background-color: #282c34;
  background-image: url('./assets/16x9_Make_a_Cover_Art_for_digital_music2.png');
  background-size: cover; /* Ensures the image covers the full area */
  background-repeat: repeat-y;
  background-position: center top;
  width: 100vw;
  height: 80vh; /* Set height to 100% of the viewport */
  display: flex; /* Enables Flexbox */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  margin: 0 auto; /* Optional: Centers horizontally if there's extra space */
  text-align: center; /* Centers text inside the element */
  font-size: calc(5px + 2vmin);
  color: white;
  font-family: Arial, sans-serif;
}

.App-footer {
  position: fixed;
  bottom: 0;
  background-color: #282c34;
  background-image: url('./assets/16x9_Make_a_Cover_Art_for_digital_music3.png');
  background-size: cover; /* Ensures the image covers the full area */
  background-repeat: repeat-y;
  background-position: center top;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'CyberGorgon-Bold', sans-serif;
  border-radius: 0px 8px 0px 0px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 15px rgba(100, 100, 255, 0.2);
}

.App-design {
  height: 10vmin;
  box-shadow: #282c34;
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .App-design {
    animation: App-design-ease infinite 20s ease;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-design-ease {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
